# Datasets
*LMDB*/
*lmdb*/
RodoSol*/
Competition*/
.vscode*/
test/*
*.txt
*flattened_*.txt
tst/
UFPR-ALPR-Dataset/
datasets/synEngine/
outputs_*/
competition*/


# Checkpoints and Logs
*.pth
*.pt
*.jpg
*.png
*.ttf
*.pdf
*.zip
outputs/
train_features/
train/
experiments/
loss_log.csv

# Cache
__pycache__/

# other_files
run_baselines.sh

