# Datasets
*LMDB*/
RodoSol*/
Competition*/
.vscode*/
test/*
*.txt
*flattened_*.txt
tst/*

# Checkpoints and Logs
*.pth
*.pt
*.jpg
*.png
*.ttf
*.pdf
*.zip
outputs/
train_features/
loss_log.csv

# Cache
__pycache__/